header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #33658A;
    align-items: center;
    padding: 10px;
  }

  .nav-link{
    color: #FFC252;
    padding-right: 25px;
    
  }

  .nav-link:hover{
    cursor: pointer;
    color: white;
  }

.logo{
  display: flex;
}
.logo img{
  height: 75px;
  margin-right: 8px;
}
.logo h2:hover{
  cursor: pointer;
  color: #FFC252;
}


  
  .lista{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  select {
    background-color: #fcf6bd;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  select:hover {
    cursor: pointer;
  }
  
  main {
    margin: 1px;
  }

  body{
    background-color: #ffb703;
    margin: 0;
  }
  .container {
    animation:  fadeIn 2s;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: #457b9d;
    border-radius: 15px;
    box-shadow: -2px -1px 31px 1px rgba(0,0,0,0.47);
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
  }


  .trello h2{
    color: black;
  }
  
  
  
  h2 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    text-align:center;
  }
  
  a {
    text-decoration: none;
    color: #ffb703;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 400px;
  }
  
  a:hover {
    color: #fcf6bd;
  }

  @media (max-width:700px){
    header{
      flex-direction: column;
    }
  }
  @keyframes fadeIn{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }