header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #33658A;
    align-items: center;
    padding: 10px;
  }

  .nav-link{
    color: #FFC252;
    padding-right: 25px;
    
  }

  .nav-link:hover{
    cursor: pointer;
    color: white;
  }

.logo{
  display: flex;
}
.logo img{
  height: 75px;
  margin-right: 8px;
}
.logo h2:hover{
  cursor: pointer;
  color: #FFC252;
}

#header p{
  animation:  fadeIn 4s;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 25px;

}

#second p{
  animation:  fadeIn 4s;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;

}

#titulo_quienes{
  animation:  fadeIn 4s;
}

#titulo_quienes h2{
  font-size: 45px;
}

#titulo_quienes p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 15px;
}

#titulo_quienes img{
  display: block;
  margin: 0 auto;
  height: 200px;
  border-radius: 50%;
  box-shadow: -2px -1px 31px 1px rgba(0,0,0,0.47);
}

.contact-list {
  animation:  fadeIn 4s;
  list-style: none;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.contact-list a{
  color: black;
}

.contact-list li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-list i {
  font-size: 20px;
  margin-right: 10px;
}

.contact-list span {
  font-size: 16px;
}
  
  .lista{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  select {
    background-color: #fcf6bd;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  select:hover {
    cursor: pointer;
  }
  
  main {
    margin: 1px;
  }

  body{
    background-color: #ffb703;
    margin: 0;
  }
  .container {
    animation:  fadeIn 4s;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: #457b9d;
    border-radius: 15px;
    box-shadow: -2px -1px 31px 1px rgba(0,0,0,0.47);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  #info {
    opacity: 0;
    transition: opacity 4.5s, transform 3s;
    transform: translateY(150px);
    background-color: #ffb703;
    border: 1px solid #ffb703;
    padding: 15px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
  }
  #info.revealed{
    opacity: 1;
    transform: translateY(0);
  }
  #info p{
    margin-bottom: 50px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  
  #info h2{
    background-color: #ffb703;
    border: 1px solid #ffb703;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
  }
  
  h2 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  
  li {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align:center;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: #ffb703;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 400px;
  }
  
  a:hover {
    color: #fcf6bd;
  }

  form{
    animation:  fadeIn 4s;
    font-family: helvetica;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 18px;
  }

  #form h2{
    animation:  fadeIn 4s;
    font-size: 30px;
  }

  @media (max-width:700px){
    header{
      flex-direction: column;
    }
  }
  @keyframes fadeIn{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }